<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%highlight(%5level)]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>hcc.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--Log level tweaks for specific packages-->
    <!--<logger name="main.App" level="DEBUG"/>-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>